pipeline/CacheSinkpipeline.json
{
	"name": "CacheSinkpipeline",
	"properties": {
		"activities": [
			{
				"name": "CacheSink Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "CacheSinkdataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CacheSink Data flow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxSalary",
					"value": "@string(activity('CacheSink Data flow').output.runStatus.output.sink1.value[0].MaxSalary)"
				}
			}
		],
		"variables": {
			"MaxSalary": {
				"type": "String"
			}
		},
		"annotations": []
	}
}